@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100% !important;
        margin-top: 0;
    }
    .pricing-rate, .pricing-rate1 {
        font-size: 40px;
    }
    input[type=submit] {
        width: 100% !important;
        margin-top: 20px;
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0
    }
    .menu-navbar-nav {
        padding-bottom: 10px
    }
    .strategy-container {
        flex-direction: column;
    }
}

@media screen and (max-width:991.98px) {
    .header-container {
        flex-direction: column
    }
    .header-title-section {
        text-align: center;
        margin-top: 40px
    }
    .navbar-collapse {
        background-color: #fff;
        color: var(--navbar-header);
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 20px
    }
    .nav-link-number {
        color: #fff;
        display: none
    }
    .menu-navbar-nav li:last-child {
        color: var(--navbar-header);
    }
    .learn-more-btn-section {
        justify-content: center;
    }
    #navbar, #navbar-sms {
        background: #2e2e2e;
    }
    .navbar-brand img {
        width: 80px!important;
        padding: 10px 0
    }
    .header-scrolled {
        height: inherit;
    }
    .pricing-plan-cards-section {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .pricing-title p {
        max-width: 428px
    }
    .services-container img {
        margin-bottom: 25px
    }
    .services-title-section {
        text-align: center
    }
    .services-container .resp-location {
        flex-direction: column-reverse;
    }
    .security-code img {
        margin-bottom: 0;
    }
    #map iframe {
        width: 600px;
        height: 250px;
    }
    .blog-posts-section {
        flex-direction: column;
    }
    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center
    }
    .contact-title-section {
        text-align: center
    }
    .footer-container {
        flex-wrap: wrap
    }
    .footer-logo {
        padding-left: 40px;
    }
    .footer-form {
        padding-right: 40px!important
    }
    .footer-subsection-form-input {
        width: 85%;
    }
    .hotline-alo-phone {
        bottom: -70px;
        left: -7px;
    }
    .nav-toggler {
        display: block;
    }
    .nav-toggler {
        display: block;
        top: 35px;
        right: 20px;
    }
    .site-navbar {
        min-height: 60px;
    }
    .site-navbar .nav-menu ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.85);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .site-navbar .nav-menu ul li {
        text-align: center;
    }
    .site-navbar .nav-menu ul li a {
        padding: 25px;
        color: #fff;
        text-align: center;
    }
    .site-navbar .nav-menu ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    .site-navbar .nav-menu ul.open {
        max-height: 100vh;
        overflow: visible;
        padding-bottom: 20px;
    }
    .nav-menu li.active a {
        border-bottom: 2px solid var(--orange-color);
        color: var(--orange-color)!important;
    }
    #widget-contact {
        right: 10px;
        bottom: 85px;
    }
    #widget-contact a {
        width: 42px;
        height: 42px;
    }
    #back-to-top {
        right: 9px;
    }
    .slider-title {
        font-size: 25px;
        top: 23%;
        left: 6%;
    }
    .slider-content {
        max-width: 310px;
        font-size: 10px;
        top: 35%;
        left: 6%;
    }
    .slider-content-sms {
        max-width: 251px;
        font-size: 10px;
        top: 39%;
        left: 5%;
    }
}

@media screen and (max-width:799.98px) {
    .header {
        height: auto;
        padding-top: 17%;
    }
}

@media screen and (max-width:499.98px) {
    .header-subtitle {
        font-size: 24px
    }
    .header-title {
        font-size: 46px
    }
    .header-title-text {
        font-size: 18px
    }
    .callback-popup .modal-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 720px;
    }
    #navbar .container, #navbar-sms .container {
        justify-content: space-between!important;
    }
    .nav-toggler {
        display: block;
        top: 35px;
        right: 20px;
    }
    .site-navbar {
        min-height: 60px;
    }
    .last-item {
        padding-bottom: 20px;
    }
    .learn-more-btn {
        width: 135px;
    }
    .site-navbar .nav-menu ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.85);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .site-navbar .nav-menu ul li {
        text-align: center;
    }
    .site-navbar .nav-menu ul li a {
        padding: 25px;
        color: #fff;
        text-align: center;
    }
    .site-navbar .nav-menu ul li .dropdown-content a {
        color: #000;
    }
    .site-navbar .nav-menu ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    .site-navbar .nav-menu ul.open {
        max-height: 100vh;
        overflow: visible;
        padding-bottom: 45px;
    }
    .nav-menu li.active a {
        border-bottom: 2px solid var(--orange-color);
        color: var(--orange-color)!important;
    }
    .callback-popup .modal-header .close {
        top: 2px;
        right: 1px;
        border-radius: 0;
    }
    .forward-register {
        margin-right: 12px;
        font-size: 12px;
    }
    .forgot-password {
        margin-left: 14px;
        font-size: 12px;
    }
    .slider-img {
        margin-top: 20px;
    }
    .slider-title {
        font-size: 8px;
        top: 20%;
        left: 4%;
    }
    .slider-content {
        max-width: 150px;
        font-size: 4px;
        top: 28%;
        left: 4%;
    }
    .callback-popup .modal-header .close {
        top: 2px;
        right: 1px;
        border-radius: 0;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-right: 0!important;
        padding-left: 5px!important;
    }
}

/* Ipad Pro */

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .slider-title {
        font-size: 24px;
        top: 10%;
        left: 6%;
    }
    .slider-content {
        max-width: 420px;
        font-size: 12px;
        top: 19%;
        left: 6%;
    }
    .slider-content-sms {
        max-width: 330px;
        font-size: 13px;
        top: 27%;
        left: 5%;
    }
}

/* iphone 6, 6s, 7, 8 */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .slider-title {
        font-size: 9px;
        top: 18%;
        left: 5%;
    }
    .slider-content-sms {
        max-width: 125px;
        font-size: 6px;
        top: 32%;
        left: 5%;
    }
}

/* iphone X , XS, 11 Pro, 12 Mini */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .slider-title {
        font-size: 9px;
        top: 14%;
        left: 8%;
    }
    .slider-img {
        margin-top: 20px;
    }
    .slider-content {
        font-size: 5px;
        top: 20%;
        left: 8%;
    }
    .slider-content-sms {
        max-width: 120px;
        font-size: 4px;
        top: 28%;
        left: 5%;
    }
}

/* iphone 6+, 6s+, 7+, 8+ */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .slider-title {
        font-size: 12px;
        top: 20%;
        left: 7%;
    }
    .slider-content {
        max-width: 165px;
        font-size: 5px;
        top: 27%;
        left: 7%;
    }
    .slider-content-sms {
        max-width: 130px;
        font-size: 6px;
        top: 32%;
        left: 5%;
    }
}